{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Gigant Entertainment Center-For your dining pleasure!</title>

	<!-- favicon -->

	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'templatezip/fruitkha-1.0.0/assets/css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'templatezip/fruitkha-1.0.0/assets/bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'templatezip/fruitkha-1.0.0/assets/css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'templatezip/fruitkha-1.0.0/assets/css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'templatezip/fruitkha-1.0.0/assets/css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'templatezip/fruitkha-1.0.0/assets/css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'templatezip/fruitkha-1.0.0/assets/css/main.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'templatezip/fruitkha-1.0.0/assets/css/responsive.css' %}">

</head>
<body>
	
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->

						<!-- logo -->

						<!-- menu start -->
						
						
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
	
	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search area -->

	<!-- hero area -->
	<div class="hero-area hero-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">...for a relaxing experience</p>
							<h1>Delicious Intercontinental Meals</h1>
							<div class="hero-btns">
								<a href="{% static 'templatezip/Brochure 8pages Patrick 1 1 1.pdf' %}" class="boxed-btn">Know More About Us</a>
								<a href="#" class="bordered-btn">Contact Us</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end hero area -->

	<!-- features list section -->
	<div class="list-section pt-80 pb-80">
		<div class="container">

			<div class="row">
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-shipping-fast"></i>
						</div>
						<div class="content">
							<h3>Free Delivery</h3>
							<p>When order over $75</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-phone-volume"></i>
						</div>
						<div class="content">
							<h3>24/7 Service</h3>
							<p>Enjoy Your Meals All Day</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="list-box d-flex justify-content-start align-items-center">
						<div class="list-icon">
							<i class="fas fa-sync"></i>
						</div>
						<div class="content">
							<h3>Live Football coverage and Band</h3>
							<p>Watch your football coverages live with us!</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- end features list section -->

	<!-- product section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Our</span> Menu</h3>
						<img src="{% static 'images/WhatsApp Image 2022-09-16 at 9.39.51 AM.jpeg' %}" alt="">
						<p>Our menu is sure to knock your socks off!</p>
					</div>
				</div>
			</div>
			<h3>We host live bands to soothe you as you dine with us</h3>
			<div class="row">
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="#"><img src="{% static 'images/WhatsApp Image 2022-09-16 at 9.39.52 AM (1).jpeg' %}" alt=""></a>
						</div>

					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="#"><img src="{% static 'images/WhatsApp Image 2022-09-16 at 9.39.53 AM.jpeg' %}" alt=""></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-p"#><img src="{% static 'images/WhatsApp Image 2022-09-16 at 9.39.55 AM.jpeg' %}" alt=""></a>
						</div>

					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-p"#><img src="{% static 'images/WhatsApp Image 2022-09-16 at 9.39.57 AM.jpeg' %}" alt=""></a>
						</div>

					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-p"#><img src="{% static 'images/WhatsApp Image 2022-09-16 at 9.39.58 AM.jpeg' %}" alt=""></a>
						</div>

					</div>
				</div>
				<h3>Our dining experience is one of a kind</h3>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-p"#><img src="{% static 'images/WhatsApp Image 2022-09-16 at 9.39.56 AM.jpeg' %}" alt=""></a>
						</div>
						<p>With strategically place furniture for your dining comfort</p>
					</div>
				</div><div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-p"#><img src="{% static 'images/WhatsApp Image 2022-09-16 at 9.39.55 AM (1).jpeg' %}" alt=""></a>
						</div>
						<p>With unique yet appealing theme. We always put you first</p>
					</div>
				</div>
				<h3>Intorucing our new cinema room for you to kick back and enjoy all newly released international movies</h3>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-p"#><img src="{% static 'images/WhatsApp Image 2022-09-16 at 9.39.56 AM (1).jpeg' %}" alt=""></a>
						</div>
						<p>With strategically place furniture for your dining comfort</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end product section -->

	<!-- cart banner section -->

    <!-- end cart banner section -->

	<!-- testimonail-section -->
	<div class="testimonail-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center">
					<div class="testimonial-sliders">
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{% static 'templatezip/fruitkha-1.0.0/assets/img/avaters/avatar1.png' %}" alt="">
							</div>
							<div class="client-meta">
								<h3>Saira Hakim <span>Regular Customer</span></h3>
								<p class="testimonial-body">
									" I enjoy dining here everyday with my friends and family "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{% static 'templatezip/fruitkha-1.0.0/assets/img/avaters/avatar2.png' %}" alt="">
							</div>
							<div class="client-meta">
								<h3>David Niph <span>Regular Customer</span></h3>
								<p class="testimonial-body">
									" This is where the boys and I get drinks regularly and watch football! "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{% static 'templatezip/fruitkha-1.0.0/assets/img/avaters/avatar3.png' %}" alt="">
							</div>
							<div class="client-meta">
								<h3>Jacob Sikim <span>Regular Customer</span></h3>
								<p class="testimonial-body">
									" The live band is world class! "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end testimonail-section -->
	
	<!-- advertisement section -->
	<div class="abt-section mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="abt-bg">
						<a href="https://www.youtube.com/watch?v=DBLlFWYcIGQ" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- end advertisement section -->
	
	<!-- shop banner -->

	<!-- end shop banner -->

	<!-- latest news -->
	<div class="latest-news pt-150 pb-150">
		<div class="container">

			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Our</span> News</h3>
						<p>Watch Qatar 2022 with us...LIVE!</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="#"><div class="">
							<img src="{% static 'images/WhatsApp Image 2022-09-16 at 9.39.53 AM (1).jpeg' %}" alt="">
						</div></a>
						<div class="news-text-box">
							<h3><a href="singl"#>You will enjoy viewing with us and with new friends you're bound to meet!</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Entertainment Center Manager</span>
								<span class="date"><i class="fas fa-calendar"></i> 10 September, 2022</span>
							</p>
							<p class="excerpt">Qatar is set to kick off this year, and we want to give you the utmost pleasure of viewing it with us</p>
							<a href="singl"# class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>

			<div class="row">
				<div class="col-lg-12 text-center">
					<a href="#" class="boxed-btn">More News</a>
				</div>
			</div>
		</div>
	</div>
	<!-- end latest news -->

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="{% static 'images/WhatsApp Image 2022-09-16 at 9.39.52 AM.jpeg' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'images/WhatsApp Image 2022-09-16 at 9.39.55 AM (1).jpeg' %}" alt="">
						</div>
<!--						<div class="single-logo-item">-->
<!--							<img src="{% static 'templatezip/fruitkha-1.0.0/assets/img/company-logos/3.png' %}" alt="">-->
<!--						</div>-->
<!--						<div class="single-logo-item">-->
<!--							<img src="{% static 'templatezip/fruitkha-1.0.0/assets/img/company-logos/4.png' %}" alt="">-->
<!--						</div>-->
<!--						<div class="single-logo-item">-->
<!--							<img src="{% static 'templatezip/fruitkha-1.0.0/assets/img/company-logos/5.png' %}" alt="">-->
<!--						</div>-->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p>We are Gigant Entertainment Center. We are hospitable and do our best to make sure our customers receive 24/7 care and comfort as they dine with us.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>Nieuwstraat 377, 7311BR Apeldoorn</li>
							<li>support@gigantres@gigantr.com</li>
							<li>(055)521 63 46</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages' %}">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">About</a></li>
							<li><a href="se"#>Shop</a></li>
							<li><a href="#">News</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="#">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2022 - <a href="#">Gigant Entertainment Center</a>,  All Rights Reserved.<br>

					</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
	
	<!-- jquery -->
	<script src="{% static 'templatezip/fruitkha-1.0.0/assets/js/jquery-1.11.3.min.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static 'templatezip/fruitkha-1.0.0/assets/bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- count down -->
	<script src="{% static 'templatezip/fruitkha-1.0.0/assets/js/jquery.countdown.js' %}"></script>
	<!-- isotope -->
	<script src="{% static 'templatezip/fruitkha-1.0.0/assets/js/jquery.isotope-3.0.6.min.js' %}"></script>
	<!-- waypoints -->
	<script src="{% static 'templatezip/fruitkha-1.0.0/assets/js/waypoints.js' %}"></script>
	<!-- owl carousel -->
	<script src="{% static 'templatezip/fruitkha-1.0.0/assets/js/owl.carousel.min.js' %}"></script>
	<!-- magnific popup -->
	<script src="{% static 'templatezip/fruitkha-1.0.0/assets/js/jquery.magnific-popup.min.js' %}"></script>
	<!-- mean menu -->
	<script src="{% static 'templatezip/fruitkha-1.0.0/assets/js/jquery.meanmenu.min.js' %}"></script>
	<!-- sticker js -->
	<script src="{% static 'templatezip/fruitkha-1.0.0/assets/js/sticker.js' %}"></script>
	<!-- main js -->
	<script src="{% static 'templatezip/fruitkha-1.0.0/assets/js/main.js' %}"></script>

</body>
</html>
